.advantages {
	min-height: 470px;
	padding: 69px 0 78px;
	background-color: #f6f6f6;

	&__wrapper {
		margin-top: 65px;
		display: flex;
		justify-content: space-between;
	}

	&__block {
		max-width: 230px;
	}

	&__icon {
		display: block;
		margin: 0 auto;

		&_animate {
			&-pulse {
				animation-name: heartbeat;
				animation-duration: 2s;
				animation-timing-function: ease;
				animation-iteration-count: infinite;
			}
			&-step {
				animation-name: step;
				animation-duration: 2s;
				animation-timing-function: linear;
				animation-iteration-count: infinite;
			}
			&-cup {
				animation-name: cup;
				animation-duration: 2s;
				animation-timing-function: linear;
				animation-iteration-count: infinite;
			}
		}
	}

	&__name {
		font-size: 18px;
		line-height: 1.2;
		font-weight: 700;
		color: #0d0d0d;
		text-align: center;
		margin-top: 33px;
	}

	&__descr {
		font-size: 14px;
		line-height: 1.2;
		font-weight: 300;
		color: #0d0d0d;
		margin-top: 20px;
		text-align: center;
	}

	&__link {
		text-decoration: underline;
		color: #ff0000;
		text-transform: uppercase;
	}
}

@media (max-width: 991px) {
	.advantages {
		padding: 60px 15px 78px;
	}
}

@media (max-width: 767px) {
	.advantages {
		padding: 60px 15px;

		&__wrapper {
			flex-wrap: wrap;
			justify-content: space-around;
			margin-top: 40px;
		}

		&__block {
			margin-top: 15px;
		}
	}
}

@media (max-width: 575px) {
	.advantages {
		padding: 35px 10px;

		&__wrapper {
			margin-top: 20px;
		}

		&__name {
			margin-top: 20px;
		}
	}
}